In [27]:
import pandas as pd
import numpy as np
import pickle

In [28]:
dataset = pd.read_csv('Data/Processed/training_output_csv.csv', header=None)
dataset.head()

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,image0_1.jpg,push_down,215.46749,985.96539,-478.41324,205.39144,981.66229,-534.34699,207.50211,981.51604,...,983.51309,839.18891,933.79126,1399.21639,839.53859,1016.09230,897.49651,826.29848,997.48764,1347.34963
1,image0_10.jpg,push_down,154.87443,1176.36715,-245.85997,134.60667,1166.84132,-305.05442,134.84263,1164.95659,...,738.73366,855.48102,943.82177,1109.72231,856.38269,1044.19178,688.38965,818.88348,1029.12632,1113.72940
2,image0_100.jpg,push_down,456.98704,1215.90534,-354.41787,447.59443,1222.10346,-406.08346,453.14947,1223.02769,...,914.73194,923.68706,893.43716,1041.34864,917.78238,990.64945,962.57345,884.07751,968.52642,1114.26048
3,image0_101.jpg,push_down,460.21956,1238.44013,-437.63013,451.56651,1244.26678,-489.06192,459.73618,1246.38863,...,879.55813,912.75259,913.07373,989.91711,908.58457,1010.72365,937.20938,875.85688,1002.96661,1064.14551
4,image0_102.jpg,push_down,444.68777,1221.08414,-465.97248,439.46879,1232.25986,-517.59648,447.34882,1234.70947,...,925.76682,902.36060,903.81849,992.92281,908.74010,1005.04601,1005.64620,866.47245,982.61742,1073.42005

# DATA PROCESSING

In [29]:
dataset = dataset.drop(dataset.columns[0], axis=1)
dataset.head()

,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
0,push_down,215.46749,985.96539,-478.41324,205.39144,981.66229,-534.34699,207.50211,981.51604,-534.38854,...,983.51309,839.18891,933.79126,1399.21639,839.53859,1016.09230,897.49651,826.29848,997.48764,1347.34963
1,push_down,154.87443,1176.36715,-245.85997,134.60667,1166.84132,-305.05442,134.84263,1164.95659,-305.24358,...,738.73366,855.48102,943.82177,1109.72231,856.38269,1044.19178,688.38965,818.88348,1029.12632,1113.72940
2,push_down,456.98704,1215.90534,-354.41787,447.59443,1222.10346,-406.08346,453.14947,1223.02769,-406.22540,...,914.73194,923.68706,893.43716,1041.34864,917.78238,990.64945,962.57345,884.07751,968.52642,1114.26048
3,push_down,460.21956,1238.44013,-437.63013,451.56651,1244.26678,-489.06192,459.73618,1246.38863,-489.13788,...,879.55813,912.75259,913.07373,989.91711,908.58457,1010.72365,937.20938,875.85688,1002.96661,1064.14551
4,push_down,444.68777,1221.08414,-465.97248,439.46879,1232.25986,-517.59648,447.34882,1234.70947,-517.70714,...,925.76682,902.36060,903.81849,992.92281,908.74010,1005.04601,1005.64620,866.47245,982.61742,1073.42005

In [30]:
X, y = dataset.iloc[: , 1:], dataset.iloc[: , 0]

In [31]:
np.unique(y, return_counts=True)

(array(['push_down', 'push_up'], dtype=object), array([823, 694]))

In [32]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, random_state=124)

# KNN

In [33]:
from sklearn.neighbors import KNeighborsClassifier

best_k = 1
best_acc = 0

for k in range(3, 50):
    model = KNeighborsClassifier(10)
    model.fit(X_train, y_train)
    acc = model.score(X_test, y_test)
    if acc > best_acc: 
        best_k, best_acc = k, acc

print("Best K value: ",best_k)

Best K value:  3

In [34]:
model = KNeighborsClassifier(1)
model.fit(X_train, y_train)
model.score(X_test, y_test)

1.0

In [35]:
filename = 'models/knn.sav'
pickle.dump(model, open(filename, 'wb'))

# RANDOM FOREST

In [36]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.9978070175438597

In [37]:
filename = 'models/random_forest.sav'
pickle.dump(model, open(filename, 'wb'))